<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AIdebug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>UnitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>checkyrs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>libCheckyrs.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8308B90F1BAC2AF1007FFF25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8308C77D1BAC3A6400BC041B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8308C78E1BAC3C5D00BC041B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8308C79F1BAC3D5200BC041B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8335C93D1B598C0A0017EB5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8335C94D1B598F060017EB5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>833DA12B1BAB1F530039D52D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>833DA13B1BAB22200039D52D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>835B33431BAC4449008AEEEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>835B334D1BAC457E008AEEEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>835B335A1BAC481F008AEEEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8387E8EF1B8095B1008D26AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
